@import "../../design-tokens/_scss-variables.scss";

.containerStyle {
    display: flex;
    justify-content: space-between;
    background-color: $color-base;
    padding: $spacer-xl $spacer-xxl;
    
    width: 100%;
    min-height: 50vh;
    border-radius: $spacer-m;
}

.titleStyle {
    color: $color-content;
    margin: 0 auto $spacer-m;
    
    text-align: center;
    font-weight: bold;
}

.profileStyle {
    padding-left: $spacer-xl;
}


